* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    background-color: #333;
    color: #f4f4f4;
}

#container {
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.world_pic {
    background-image: url("../img/moon.jpg");
}

.universe_pic {
    background-image: url("../img/universe.jpg");
}

#hello_select {
    background-color: rgba(0, 0, 0, 0.5);
    color: #f4f4f4;
    width: 30rem;
    position: absolute;
    top: 3vh;
    left: calc(50vw - 15rem);
    font-size: 1.1rem;
    text-align: center;
    padding: 0.5rem;
}

option {
    background-color: rgba(0, 0, 0, 0.5);
    color: #f4f4f4;
    padding: 0.5rem;
}

#title {
    font-size: 5rem;
    background-color: rgba(0, 0, 0, 0.5);
    color: #f4f4f4;
    padding: 1rem 2rem;
}

.bookmarks_container {
    height: 25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.bookmarks_container h1 {
    font-size: 2.5rem;
}

.bookmarks_container .bookmarks_btn {
    font-size: 1.5rem;
    background-color: #f4f4f4;
    color: #333;
    padding: 12px 24px;
    border-radius: 5px;
}

.bookmarks_container input {
    width: 400px;
    height: 50px;
    padding: 0 24px;
    font-size: 1.5rem;
}

.bookmarks_container .submit_btn {
    font-size: 1.25rem;
    background-color: red;
    color: white;
    width: 200px;
    height: 40px;
    padding-top: 7px;
    text-align: center;
}